@model CreateCarViewModel

@{
    ViewData["Title"] = "Create";
}

    <h2>Ajouter une voiture</h2>
    <p>tous les champs sont obligatoires</p>

<div class="form-container  shadow-sm">

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group mt-2">
        <label asp-for="ManufacturingYear">Année</label>
        <input asp-for="ManufacturingYear" type="number" class="form-control" />
        <span asp-validation-for="ManufacturingYear" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label asp-for="VinCode">Code Vin</label>
        <input asp-for="VinCode" class="form-control" />
        <span asp-validation-for="VinCode" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label asp-for="Brand">Marque</label>
        <input asp-for="Brand" class="form-control" />
        <span asp-validation-for="Brand" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label asp-for="Model">Modèle</label>
        <input asp-for="Model" class="form-control" />
        <span asp-validation-for="Model" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label asp-for="Finish">Finition</label>
        <input asp-for="Finish" class="form-control" />
        <span asp-validation-for="Finish" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label asp-for="BuyingDate">Date d’achat</label>
        <input asp-for="BuyingDate" type="date" class="form-control" />
        <span asp-validation-for="BuyingDate" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label asp-for="BuyingPrice">Prix d’achat</label>
        <input asp-for="BuyingPrice" type="number" class="form-control" />
        <span asp-validation-for="BuyingPrice" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label asp-for="FixingDescription">Réparations</label>
        <input asp-for="FixingDescription" class="form-control" />
        <span asp-validation-for="FixingDescription" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label asp-for="FixingCost">Coûts de réparation</label>
        <input asp-for="FixingCost" type="number" class="form-control" />
        <span asp-validation-for="FixingCost" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label asp-for="AvailableDate">Date de disponibilité à la vente</label>
        <input asp-for="AvailableDate" type="date" class="form-control" />
        <span asp-validation-for="AvailableDate" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label asp-for="AvailableDate">Visible</label>
        <input asp-for="Visible" type="checkbox" />
        <span asp-validation-for="Visible" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label asp-for="Image">Visuel</label>
        <div class="file-upload-wraper">
            <input asp-for="Image" type="file"  accept="image/jpeg, image/png, image/webp" class="form-control" />
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                </svg>
            </div>Ajoutez une image
        </div>
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>



    <div class="form-group mt-5 d-flex justify-content-center">
        <button type="submit" class="btn-cta">Publier</button>
    </div>
</form>
</div>